<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
  <input type="hidden" id="hUserId">
  <input type="hidden" id="hUserName">
  <input type="hidden" id="hRecordId">
  <!-- HTML -->
  <p>
    <input type="date" id="individual-date-picker" class="date-picker">
  </p>
  <br>
  <h2 id="wod-title"></h2>
  <hr>
  <br>
  <div id="wod-program"></div>
  <hr>
  <br>

  <h2>My Record</h2>
  <hr>
  <br>

  <!-- My Record 입력 폼 -->
  <div class="record-form">
    <div class="record-form-card">
    <textarea name="record" id="record-text" class="record-text" rows="5"
              placeholder="여기에 오늘 성과를 기록하세요"></textarea>
    </div>
    <button onclick="saveRecord()" id="record-save-btn" class="record-save-btn">저장하기</button>
  </div>

</div>
</html>