<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
  <input type="hidden" id="hUserId">
  <input type="hidden" id="hUserName">
  <input type="hidden" id="hRecordId">
  <!-- HTML -->
  <p>
    <input type="date" id="individual-date-picker">
  </p>
  <br>
  <h2 id="wod-title"></h2>
  <hr>
  <br>
  <div id="wod-program"></div>
  <hr>
  <br>

  <h2>My Record</h2>
  <hr>
  <br>

  <!-- My Record 입력 폼 -->
  <div id="record-form">
    <!-- 실제 입력 필드 -->
    <textarea name="record" id="record-text" rows="5" cols="50"
              placeholder="여기에 오늘 성과를 기록하세요"></textarea>
    <br>
    <button onclick="saveRecord()">저장하기</button>
  </div>

</div>
</html>