#group-record {
    max-height: 430px; /* 원하는 높이 */
    overflow-y: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fefefe;
}

.group-record-card {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.group-record-user {
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
}

.group-record-content {
    color: #666;
}