<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/home.js}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <!-- 헤더 -->
  <div class="header">
    Home
    <!-- 우측 상단에 로그아웃 버튼 추가 -->
    <button onclick="logout()" class="logout-btn">로그아웃</button>
  </div>
  <!-- 메인 컨텐츠 -->
  <div class="content">
    <p>여기에 다양한 상품 정보나 배너 등을 배치</p>
  </div>
</div>
<!-- 하단 네비게이션 바 -->
<div class="bottom-nav">
  <a href="/" class="nav-item active">
    <i class="fa-solid fa-house"></i>
  </a>
  <a href="/" class="nav-item">
    <i class="fa-solid fa-user"></i>
  </a>
  <a href="/" class="nav-item">
    <i class="fa-solid fa-users"></i>
  </a>
</div>
</body>
</html>